# H&M Personalized Fashion Recommendations EDA

Downloaded from https://www.kaggle.com/competitions/h-and-m-personalized-fashion-recommendations/data

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from tqdm.notebook import tqdm

In [2]:
articles = pd.read_csv("data/articles.csv")
customers = pd.read_csv("data/customers.csv")
transactions = pd.read_csv("data/transactions_train.csv")

In [3]:
articles.head()

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

In [4]:
customers.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [5]:
transactions.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2

## "Articles" Analysis

In [7]:
articles.shape

(105542, 25)

In [8]:
articles.columns

Index(['article_id', 'product_code', 'prod_name', 'product_type_no',
       'product_type_name', 'product_group_name', 'graphical_appearance_no',
       'graphical_appearance_name', 'colour_group_code', 'colour_group_name',
       'perceived_colour_value_id', 'perceived_colour_value_name',
       'perceived_colour_master_id', 'perceived_colour_master_name',
       'department_no', 'department_name', 'index_code', 'index_name',
       'index_group_no', 'index_group_name', 'section_no', 'section_name',
       'garment_group_no', 'garment_group_name', 'detail_desc'],
      dtype='object')

In [14]:
for index in articles.columns:
    print(f"{index}: number of unique values- {articles[index].nunique()} {{{articles[index].unique()}}} " )

article_id: number of unique values- 105542 {[108775015 108775044 108775051 ... 956217002 957375001 959461001]}
product_code: number of unique values- 47224 {[108775 110065 111565 ... 956217 957375 959461]}
prod_name: number of unique values- 45875 {['Strap top' 'Strap top (1)' 'OP T-shirt (Idro)' ... 'Cartwheel dress'
 'CLAIRE HAIR CLAW' 'Lounge dress']}
product_type_no: number of unique values- 132 {[253 306 304 302 273 252 254 272  72 532 295 256  73  -1 308 196  74  67
  87 298  59 286  57 275 255 265  75 307 274 259  69 297  94  81 245  71
  70  66 264  89 267  91 262  83 277 305  80 263  78 257  93 293 495 515
  76 260  77  86  82 296 509  68 258 271  85 283 496 161  49 268 276  84
 299  60 144 270  79 156  95 287 261  90  88 499 100  98  92 289  96 155
 512 284 291 285 288 300 303 349 511 475 477 351 467 508 503 465 230 504
 476 326 494 514 498 525 231 492 489 470 102 366 493 762 529 464 389 761
 468 521 510 523 491 483]}
product_type_name: number of unique values- 131 {['Vest top' 'Bra' 'Underwear Tights' 'Socks' 'Leggings/Tights' 'Sweater'
 'Top' 'Trousers' 'Hair clip' 'Umbrella' 'Pyjama jumpsuit/playsuit'
 'Bodysuit' 'Hair string' 'Unknown' 'Hoodie' 'Sleep Bag' 'Hair/alice band'
 'Belt' 'Boots' 'Bikini top' 'Swimwear bottom' 'Underwear bottom'
 'Swimsuit' 'Skirt' 'T-shirt' 'Dress' 'Hat/beanie' 'Kids Underwear top'
 'Shorts' 'Shirt' 'Cap/peaked' 'Pyjama set' 'Sneakers' 'Sunglasses'
 'Cardigan' 'Gloves' 'Earring' 'Bag' 'Blazer' 'Other shoe'
 'Jumpsuit/Playsuit' 'Sandals' 'Jacket' 'Costumes' 'Robe' 'Scarf' 'Coat'
 'Other accessories' 'Polo shirt' 'Slippers' 'Night gown' 'Alice band'
 'Straw hat' 'Hat/brim' 'Tailored Waistcoat' 'Necklace' 'Ballerinas' 'Tie'
 'Pyjama bottom' 'Felt hat' 'Bracelet' 'Blouse' 'Outdoor overall' 'Watch'
 'Underwear body' 'Beanie' 'Giftbox' 'Sleeping sack' 'Dungarees'
 'Outdoor trousers' 'Wallet' 'Swimwear set' 'Swimwear top' 'Flat shoe'
 'Garment Set' 'Ring' 'Waterbottle' 'Wedge' 'Long John'
 'Outdoor Waistcoat' 'Pumps' 'Flip flop' 'Braces' 'Bootie'
 'Fine cosmetics' 'Heeled sandals' 'Nipple covers' 'Chem. cosmetics'
 'Soft Toys' 'Hair ties' 'Underwear corset' 'Bra extender' 'Underdress'
 'Underwear set' 'Sarong' 'Leg warmers' 'Blanket' 'Hairband' 'Tote bag'
 'Weekend/Gym bag' 'Cushion' 'Backpack' 'Earrings' 'Bucket hat'
 'Flat shoes' 'Heels' 'Cap' 'Shoulder bag' 'Side table' 'Accessories set'
 'Headband' 'Baby Bib' 'Keychain' 'Dog Wear' 'Washing bag' 'Sewing kit'
 'Cross-body bag' 'Moccasins' 'Towel' 'Wood balls' 'Zipper head'
 'Mobile case' 'Pre-walkers' 'Toy' 'Marker pen' 'Bumbag' 'Dog wear'
 'Eyeglasses' 'Wireless earphone case' 'Stain remover spray'
 'Clothing mist']}
product_group_name: number of unique values- 19 {['Garment Upper body' 'Underwear' 'Socks & Tights' 'Garment Lower body'
 'Accessories' 'Items' 'Nightwear' 'Unknown' 'Underwear/nightwear' 'Shoes'
 'Swimwear' 'Garment Full body' 'Cosmetic' 'Interior textile' 'Bags'
 'Furniture' 'Garment and Shoe care' 'Fun' 'Stationery']}
graphical_appearance_no: number of unique values- 30 {[1010016 1010017 1010001 1010010 1010019 1010011 1010002 1010023 1010005
 1010006 1010026 1010020 1010018 1010004 1010024 1010008 1010009 1010012
 1010014 1010013 1010027 1010007 1010021 1010022      -1 1010003 1010025
 1010028 1010015 1010029]}
graphical_appearance_name: number of unique values- 30 {['Solid' 'Stripe' 'All over pattern' 'Melange' 'Transparent' 'Metallic'
 'Application/3D' 'Denim' 'Colour blocking' 'Dot' 'Other structure'
 'Contrast' 'Treatment' 'Check' 'Chambray' 'Front print'
 'Glittering/Metallic' 'Mixed solid/pattern' 'Placement print'
 'Other pattern' 'Neps' 'Embroidery' 'Lace' 'Jacquard' 'Unknown' 'Argyle'
 'Slub' 'Mesh' 'Sequin' 'Hologram']}
colour_group_code: number of unique values- 50 {[ 9 10 11 12 13  7 71  6 73  8 52 43 15 31  3  5 51 53 17 72 81 22 19 23
 50 63 42  2 93 40 82 33  1 32 14 20 91 30 62 41 21 92 61 83 60  4 80 90
 70 -1]}
colour_group_name: number of unique values- 50 {['Black' 'White' 'Off White' 'Light Beige' 'Beige' 'Grey' 'Light Blue'
 'Light Grey' 'Dark Blue' 'Dark Grey' 'Pink' 'Dark Red' 'Greyish Beige'
 'Light Orange' 'Silver' 'Gold' 'Light Pink' 'Dark Pink' 'Yellowish Brown'
 'Blue' 'Light Turquoise' 'Yellow' 'Greenish Khaki' 'Dark Yellow'
 'Other Pink' 'Dark Purple' 'Red' 'Transparent' 'Dark Green' 'Other Red'
 'Turquoise' 'Dark Orange' 'Other' 'Orange' 'Dark Beige' 'Other Yellow'
 'Light Green' 'Other Orange' 'Purple' 'Light Red' 'Light Yellow' 'Green'
 'Light Purple' 'Dark Turquoise' 'Other Purple' 'Bronze/Copper'
 'Other Turquoise' 'Other Green' 'Other Blue' 'Unknown']}
perceived_colour_value_id: number of unique values- 8 {[ 4  3  1  2  5  7  6 -1]}
perceived_colour_value_name: number of unique values- 8 {['Dark' 'Light' 'Dusty Light' 'Medium Dusty' 'Bright' 'Medium' 'Undefined'
 'Unknown']}
perceived_colour_master_id: number of unique values- 20 {[ 5  9 11 12  2  4  6 18  1  3 15 13  7  8 20 19 14 -1 10 16]}
perceived_colour_master_name: number of unique values- 20 {['Black' 'White' 'Beige' 'Grey' 'Blue' 'Pink' 'Lilac Purple' 'Red' 'Mole'
 'Orange' 'Metal' 'Brown' 'Turquoise' 'Yellow' 'Khaki green' 'Green'
 'undefined' 'Unknown' 'Yellowish Green' 'Bluish Green']}
department_no: number of unique values- 299 {[1676 1339 3608 6515 1334 5883 2032 4342 4343 3419 6563 8559 8394 7956
 3611 3610 3937 7930 5283 3509 3929 4242 7988 1643 5963 8560 7668 7932
 5783 3709 5683 3946 8888 3519 5656 3945 5868 9985 4344 5962 1649 3209
 8615 1626 2031 5658 5961 1338 1722 7922 8768 7921 7931 3630 2035 5882
 3629 3710 8558 3948 3944 8756 1919 1939 5960 3705 7188 1745 1773 1779
 5878 7389 5828 1747 1772 1244 8956 3439 3409 9986 1344 1444 7920 6541
 1948 8757 4312 8917 3527 2950 1717 1343 5673 5957 8090 5687 5831 7388
 1666 5631 1920 8616 8617 5731 1949 2033 5672 8718 1201 5884 5958 1545
 1644 5679 6512 5686 3040 5956 1547 6564 1422 1670 4345 5832 5454 4225
 1641 1647 4214 4224 5952 9984 4310 4320 8316 8310 1636 5777 5555 2034
 6565 4210 4220 1414 1723 4314 5848 4317 1543 1510 1642 3529 4212 4213
 1909 8713 1646 3828 1322 6555 6525 5252 4215 8396 1313 7616 5690 6557
 8755 1610 3936 1410 4090 7656 1515 1640 7618 7648 1660 1710 3528 1912
 1941 7617 7613 1743 7020 3939 7812 1447 8716 8852 8812 3510 1926 7852
 5131 1522 8748 5767 4211 1929 8397 6281 6280 1310 4322 4221 8758 1212
 4311 5262 5741 7658 8398 1612 4327 1222 7657 5231 7917 8717 4313 5787
 6283 6526 6561 1616 1202 1686 4222 7819 5858 6545 8563 5641 4216 4323
 6546 3030 9989 7530 2080 7510 1241 1648 7989 9020 3080 1352 1652 1774
 7520 3090 7987 5833 8030 4321 4030 7655 1752 3708 1336 7659 6550 7050
 5959 1778 3941 3932 4920 7814 5626 3000 7952 4020 5627 1645 1744 7854
 5950 1727 5999 1620 7848 8815 4091 7912 8564 4092 3938 3420 2932 7757
 2930 3943 7857 3931 5888]}
department_name: number of unique values- 250 {['Jersey Basic' 'Clean Lingerie' 'Tights basic' 'Baby basics'
 'Casual Lingerie' 'Jersey' 'EQ & Special Collections' 'Hair Accessories'
 'Other items' 'Baby Nightwear' 'Men Sport Woven' 'Men Sport Bottoms'
 'Kids Boy Denim' 'Shopbasket Socks' 'Socks' 'UW'
 'Young Girl Jersey Basic' 'Jacket Street' 'Belts' 'Divided Shoes'
 'Swimwear' 'Underwear Jersey' 'Basic 1' 'Tops Knitwear DS'
 'Men Sport Acc' 'Kids Boy Jersey Basic' 'Young Girl UW/NW' 'Shirt'
 'Nightwear' 'Trouser' 'Small Accessories' 'Sunglasses' 'Gloves/Hats'
 'Knit & Woven' 'Basics' 'Accessories' 'Jewellery' 'Jersey Fancy DS'
 'Trousers DS' 'Bags' 'Blazer S&T' 'Knitwear' 'Woven bottoms' 'Shorts'
 'Dresses DS' 'Expressive Lingerie' 'Kids Girl UW/NW'
 'Young Boy Jersey Basic' 'Kids Girl S&T' 'Young Girl S&T'
 'Shoes / Boots inactive from s5' 'Nursing' 'Jersey Fancy' 'Shoes'
 'Functional Lingerie' 'Men Sport Tops' 'Other Accessories'
 'Young Boy Trouser' 'Outdoor/Blazers DS' 'Mama Lingerie' 'Socks Bin'
 'Denim Other Garments' 'Everyday Waredrobe Denim' 'Trousers'
 'Denim Trousers' 'Outdoor/Blazers' 'Young Boy Denim' 'Scarves' 'Dresses'
 'Skirts' 'Kids Girl Jersey Basic' 'Baby Socks' 'Trousers & Skirt'
 'Young Boy Shirt' 'Kids Girl Big Acc' 'Young Girl Denim' 'Flats'
 'Baby Toys/Acc' 'Projects Dresses' 'Denim shorts'
 'Jersey inactive from s1' 'Promotion/Other/Offer' 'Bags & Items'
 'Small Bags' 'Trouser S&T' 'Shirt S&T' 'Woven Tops' 'Denim trousers'
 'Young Girl Knitwear' 'Outwear' 'Knitwear inactive from s1'
 'Projects Woven Tops' 'Projects Jersey & Knitwear'
 'Denim wardrobe H&M man inactive from S.6' 'Baby Boy Outdoor'
 'Premium Quality' 'Woven inactive from s1' 'Tops woven DS' 'Newborn'
 'Skirt' 'Jersey License' 'Jewellery Extended' 'Light Basic Jersey'
 'Suit Extended inactive from s1' 'Young Boy UW/NW' 'Tops Knitwear'
 'Kids Boy Socks' 'Young Boy Socks' 'Outdoor inactive from s1'
 'Kids Girl Swimwear' 'Young Girl Swimwear' 'Ladies Sport Bras'
 'Ladies Sport Bottoms' 'Jersey fancy' 'Blazer' 'Baby Boy Woven'
 'Kids Boy Swimwear' 'Young boy Swimwear' 'Kids Dress-up/Football'
 'Sneakers small girl inactive from s2' 'Tops Woven' 'Blouse' 'Shorts DS'
 'Boots' 'Kids Boy Big Acc' 'Boys Small Acc & Bags' 'Woven top'
 'Young Girl Dresses' 'Knitwear Basic' 'Sneakers' 'Dress'
 'Baby Girl Woven' 'Baby Girl Jersey Fancy' 'Jacket Casual'
 'Kids Boy UW/NW' 'Ladies Sport Acc' 'Kids Girl Jersey Fancy'
 'Baby Exclusive' 'Young Boy Shorts' 'EQ Divided Basics' 'Shorts & Skirts'
 'Promotion/ Other /Offer' 'Kids Boy Trouser' 'Tops Fancy Jersey'
 'Kids Girl Knitwear' 'Kids Boy Jersey Fancy' 'Heels' 'Woven Premium'
 'Blouse & Dress' 'Kids Girl Trouser' 'Kids Girl Dresses'
 'Projects Woven Bottoms' 'Conscious Exclusive' 'Shoes Other'
 'Kids Girl Outdoor' 'Skirts DS' 'Young Girl Jersey Fancy'
 'Young Boy Outdoor' 'Young Girl Outdoor' 'Woven Occasion'
 'Kids Boy Outdoor' 'Young Boy Jersey Fancy' 'Kids Boy Shoes'
 'Ladies Sport Woven' 'Bottoms Girls' 'Tops Girls' 'Young Girl Big Acc'
 'Young Boy Shoes' 'Young Boy Knitwear' 'Suit' 'Kids Girl Shoes'
 'Jacket Smart' 'Projects' 'Kids Boy Knitwear'
 'Woven bottoms inactive from S.7' 'Jersey/Knitwear Premium'
 'Sneakers big girl inactive from s2' 'Suit jacket' 'Kids Boy Shirt'
 'Jacket' 'Kids Girl Denim' 'Young Girl Trouser' 'Girls Small Acc/Bags'
 'Shirt Extended inactive from s1' 'Tops Boys' 'Baby Girl Knitwear'
 'Baby Shoes' 'Jackets' 'Jersey Occasion' 'Young Boy Big Acc'
 'Kids Girl License' 'Baby Boy Jersey Fancy' 'Bottoms Boys'
 'Local relevance' 'Dress-up Boys' 'Small Acc. Jewellery & Other'
 'Baby Boy Knitwear' 'Equatorial Assortment' 'Loungewear'
 'Studio Collection' 'Woven' 'Outwear & Blazers'
 'Underwear Jersey Fancy inactive from s1' 'Special Collection'
 'Take Care External' 'Equatorial' 'Divided+' 'OL Extended Sizes'
 'Campaigns' 'Underwear Woven' 'Heavy Basic Jersey' 'EQ H&M Man'
 'Young Girl Shoes' 'AK Other' 'Kids Boy Shorts' 'Bottoms'
 'Shopbasket Lingerie' 'Kids Boy License' 'Baby Girl Outdoor'
 'Promotion / Other / Offer' 'Divided+ inactive from s.1'
 'Tops & Bottoms Other' 'Take care' 'Girls Local Relevance'
 'AK Dresses & Outdoor' 'Limited Edition' 'AK Tops Jersey & Woven'
 'AK Tops Knitwear' 'Divided Swimwear' 'AK Bottoms' 'Girls Projects'
 'On Demand' 'Test Ladies' 'Socks Wall' 'Jersey inactive from S.6'
 'Boys Local Relevance' 'License' 'Price Items' 'Asia Assortment'
 'Accessories Boys' 'Read & React' 'EQ Ladies Denim'
 'Small Accessories Extended' 'Baby Boy Local Relevance'
 'Kids Girl Exclusive' 'Baby Girl Local Relevance' 'EQ Divided Blue'
 'Kids Boy Exclusive' 'Accessories Other' 'Blanks']}
index_code: number of unique values- 10 {['A' 'B' 'G' 'F' 'C' 'S' 'H' 'D' 'I' 'J']}
index_name: number of unique values- 10 {['Ladieswear' 'Lingeries/Tights' 'Baby Sizes 50-98' 'Menswear'
 'Ladies Accessories' 'Sport' 'Children Sizes 92-140' 'Divided'
 'Children Sizes 134-170' 'Children Accessories, Swimwear']}
index_group_no: number of unique values- 5 {[ 1  4  3 26  2]}
index_group_name: number of unique values- 5 {['Ladieswear' 'Baby/Children' 'Menswear' 'Sport' 'Divided']}
section_no: number of unique values- 57 {[16 61 62 44 26  8 66 22 46 51 79 31 65 52 60 58 72 55 21 25 23 15 27 47
  2 53 57 20 18 45 77 64 11 50 56 29 19 30 41  6 43  5 42 40 76 80 14 82
 49 24 28 97 70 71 48  4 17]}
section_name: number of unique values- 56 {['Womens Everyday Basics' 'Womens Lingerie'
 'Womens Nightwear, Socks & Tigh' 'Baby Essentials & Complements'
 'Men Underwear' 'Mama' 'Womens Small accessories' 'Men H&M Sport'
 'Kids Boy' 'Divided Basics' 'Girls Underwear & Basics' 'Mens Outerwear'
 'Womens Big accessories' 'Divided Accessories'
 'Womens Swimwear, beachwear' 'Divided Selected' 'Boys Underwear & Basics'
 'Contemporary Street' 'Contemporary Casual' 'Men Accessories'
 'Men Suits & Tailoring' 'Womens Everyday Collection' 'Men Shoes'
 'Young Boy' 'H&M+' 'Divided Collection' 'Ladies Denim'
 'Contemporary Smart' 'Womens Trend' 'Kids Outerwear' 'Young Girl'
 'Womens Shoes' 'Womens Tailoring' 'Divided Projects' 'Denim Men'
 'Men Other' 'Womens Jackets' 'Men Other 2' 'Baby Boy' 'Womens Casual'
 'Kids Accessories, Swimwear & D' 'Ladies H&M Sport' 'Kids & Baby Shoes'
 'Baby Girl' 'Kids Girl' 'Divided Complements Other' 'Womens Premium'
 'Special Collections' 'Kids Sports' 'Men Project' 'Men Edition'
 'Collaborations' 'Divided Asia keys' 'EQ Divided' 'Kids Local Relevance'
 'Ladies Other']}
garment_group_no: number of unique values- 21 {[1002 1017 1021 1005 1019 1016 1007 1020 1018 1003 1011 1009 1008 1025
 1013 1012 1023 1010 1001 1006 1014]}
garment_group_name: number of unique values- 21 {['Jersey Basic' 'Under-, Nightwear' 'Socks and Tights' 'Jersey Fancy'
 'Accessories' 'Trousers Denim' 'Outdoor' 'Shoes' 'Swimwear' 'Knitwear'
 'Shirts' 'Trousers' 'Dressed' 'Shorts' 'Dresses Ladies' 'Skirts'
 'Special Offers' 'Blouses' 'Unknown' 'Woven/Jersey/Knitted mix Baby'
 'Dresses/Skirts girls']}
detail_desc: number of unique values- 43404 {['Jersey top with narrow shoulder straps.'
 'Microfibre T-shirt bra with underwired, moulded, lightly padded cups that shape the bust and provide good support. Narrow adjustable shoulder straps and a narrow hook-and-eye fastening at the back. Without visible seams for greater comfort.'
 'Semi shiny nylon stockings with a wide, reinforced trim at the top. Use with a suspender belt. 20 denier.'
 ...
 'Short, A-line dress in jersey with a round neckline and V-shaped opening at the front with narrow ties. Long, voluminous raglan sleeves and wide cuffs with covered buttons.'
 'Large plastic hair claw.'
 'Calf-length dress in ribbed jersey made from a cotton blend. Low-cut V-neck at the back, dropped shoulders and long, wide sleeves that taper to the cuffs. Unlined.']}

In [15]:
transactions.shape

(31788324, 5)